<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
<link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" defer src = "/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
</head>
<body>
    <%- include('../particals/search.ejs')%>
    <div class="container"> 
        <%- include('../particals/header.ejs')%>
       
    </div>
    <%-body%>
</body>
</html>